<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Ứng dụng đặt sân{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>

<!-- TOP BAR -->
<header class="top-bar">
    <div class="date-time">{{ current_time }}</div>
    <div class="auth">
        {% if username %}
            <span>Xin chào, {{ username }}</span>
            <a href="{{ url_for('logout') }}">Đăng xuất</a>
        {% else %}
            <a href="{{ url_for('login') }}">Đăng nhập</a>
            <a href="{{ url_for('register') }}">Đăng kí</a>
        {% endif %}
    </div>
</header>

<!-- CONTENT -->
<main class="main-content">
    {% block content %}{% endblock %}
</main>

<!-- FOOTER -->
{% include "layout/footer.html" %}

<script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>