{% extends "layout/base.html" %}

{% block title %}Khám Phá{% endblock %}

{% block content %}
<div class="container py-5 text-center">
    <h1 class="big-title fw-bold mb-4" style="color: #003366;">
        <i class="fa-solid fa-earth-asia text-info me-2"></i>KHÁM PHÁ<i class="fa-solid fa-earth-asia text-info me-2"></i>
    </h1>

    <div class="explores shadow-sm bg-white"> <ul class="nav-tabs d-flex justify-content-center border-0 mb-0">
            <li><a href="#" data-target="all" class="active">Tất cả</a></li>
            <li><a href="#" data-target="sale">Ưu đãi</a></li>
            <li><a href="#" data-target="events">Sự kiện</a></li>
            <li><a href="#" data-target="notice">Thông báo</a></li>
        </ul>

        <hr class="my-4 mx-auto w-75" style="border-top: 2px dashed #0066cc;">

        <div id="all" class="tab-content active text-center">
            <p class="py-5"><i>Chưa có ai đăng bài cả. Quay lại sau nhé! ~</i></p>
        </div>
        <div id="sale" class="tab-content active text-center">
           <p class="py-5"><i>Chưa có ưu đãi! ~</i></p>
        </div>
        <div id="events" class="tab-content active text-center">
           <p class="py-5"><i>Chưa có sự kiện! ~</i></p>
        </div>
        <div id="notice" class="tab-content active text-center">
           <p class="py-5"><i>Chưa có thông báo! ~</i></p>
        </div>

        </div>
</div>
{% endblock %}